/* Reset some default styles */
body, h1, p, img {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 50px;
    background-color: black;
    color: white;
}

header {
    padding: 10px;
}

h1 {
    color: white;
}

main {
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #303030;
    color: white;

}

.rotate {
    transform: rotate(-360deg);
    transition: transform 1s ease-in-out;
}